@import url('https://fonts.googleapis.com/css?family=Cormorant|Italiana|Montserrat&display=swap');

body {
    box-sizing: border-box;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
body, html{
    margin: auto;
    padding: auto;
    height: 100%;
    width: 100%;
}
div#cont {
    font-family: "Montserrat", sans-serif;
    background: url("https://images.unsplash.com/photo-1532768907235-78653b7dc71d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80") no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    position: relative;
}
div#grid-container {
    display: grid;
    grid-template-columns: 1fr 7fr;
}

/*=========================Header======================
=========================================================*/
header {
    position: fixed;
    padding-left: 2em;
    transition: 0.4s;
    transition: background-color 0s;
    color: #FFFFF0;

    h1 {
        font-size: 40px;
        line-height: 0.8;
        text-align: center;
        text-transform: uppercase;
        font-family: "Italiana", serif;
    }
}

/*====================Recipes List==================
======================================================*/
#list {
    border-top: 2px dotted #FFFFF0;
    margin-top: 200px;
    padding: 15px;
    color: white;

    .btn {
        width: 50%;
        margin: 0 auto;
    }

    ul {
        margin: 0;
        margin-top: 50px;
        padding: 10px; 
        text-align: center;
        line-height: 1.1;
        font-size: 20px;
        max-height: 400px;
        overflow:auto;

        li {
            list-style-type: none;
            margin: 10px;
            padding: 5px;
            border-bottom: 1px dashed orange;

            &:hover{
                border-bottom: 3px dashed orange;
            }    
        }
    }
}

/*===================Buttons==================
================================================*/
.btn {
    background-color:  #FCD12A;
    color: #883000;
    border: none;
    padding: 10px;
    display: block;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    font-family: "Montserrat", serif;
    margin: 0 auto;

    &:hover {
        position: relative;
        box-shadow: none;
        left: 3px;
        top: 3px;
        
    }
}

/*======================Showcase=========================
===========================================================*/
section {
    justify-self: center;
    padding-top: 40px;
    margin-top: 50px;
    margin-left: 50px;
    width: 80%;

    div.showcase {
        width: 100%;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr 8fr;
        grid-template-areas:
        ". header"
        ". prep"
        "ing-header ing"
        "dir-header dir"
        ". buttons";
        align-content: center;

        #prep {
            grid-area: prep;
            color: white;
            text-align: center;

            p {
                display: inline-block;
                
                span {
                font-family: "Cormorant", serif;
                font-size: 25px;
                margin-right: 7px;
                    
                    i {
                        font-size: 22px;
                    }
                } 
            }  
        }

        h2 {
            font-size: 30px;
            padding: 0px;
            margin-bottom: 60px;
            text-transform: uppercase;
            grid-area: header;
            color: #FFFFF0;
            text-align: center;
        }    

        h3 {
            font-size: 24px;
            font-family: "Cormorant", serif;
            color: #FFFFF0;
        }

        #showcase-ingredients,
        #showcase-directions {
            text-align: left;
            line-height: 1.6;
            font-size: 17px;
            padding: 10px 30px;
            background-color:rgba(255, 255, 255, 1);
            margin: 10px;
            color: black;
        }

        #showcase-ingredients {
            list-style-type: disc;
            grid-area: ing;
            padding-left: 0;
        }

        #showcase-directions {
            grid-area: dir;
            padding-left: 0;
        }
 
        #buttons {
            grid-area: buttons;
            display: flex;
            flex-direction: row;
        }

        #header-ing {
            grid-area: ing-header;
        }

        #header-dir {
            grid-area: dir-header;
        }

        #header-ing, #header-dir {
            writing-mode: vertical-lr;
            text-orientation: mixed;
            font-size: 40px;
            padding: 0;
            margin: 0;
            place-self: center end;
            transform: rotate(180deg);
        }

        .btn {
            margin: 20px auto;
            justify-self: center;
            display: inline-block;
        }
    }  
}

/*==================Create and Edit windows===============
===========================================================*/
.create-edit-box {
    margin: 100px auto;
    margin-bottom: 130px;
    width: 60%;
    background-color: rgba(255,255,255, 1);
    padding: 20px;
    border-radius: 10px;
}
div#create-recipe, div#edit-recipe {
    position: fixed;
    background-color: rgba(120, 117, 134, 0.85);
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 5;
    overflow: auto;
    display: none; //initial display is none, on clicking "NEW", "EDIT" - display is grid
    grid-template-columns: 1fr;

    h1 {
        text-align: center;
        font-family: "Italiana", serif;
        margin-top: 50px;
    }

    small {
        color: #883000;
        text-align: center;
        font-family: "Cormorant", serif;
        display: block;
        font-size: 20px;
        margin-bottom: 50px;
    } 

    input, textarea {
        width: 70%;
        display: block;
        margin: 0 auto;
        padding: 10px;
        border: 1px solid rgb(230,230,230);
        margin-bottom: 15px;
        background-color:rgb(230,230,230);
        font-family: "Montserrat", serif;
        font-size: 16px;

        &::placeholder {
            font-family: "Montserrat",serif;
            color: rgb(90,90,90);
            font-size: 14px;
        }

        &:hover {
            border: 1px dashed darkorange;
        }
    }  

    label {
        width: 70%;
        font-size: 16px;
        text-transform: uppercase;
        display: block;
        margin-top: 5px;
        margin: 0 auto;
        padding-right: 20px;
    } 

    .btn {
        margin: 20px auto;
        justify-self: center;
    }
}
.active {
    position: fixed;
    z-index: 4;
    font-size: 18px;
    display: block;
    width: 100%;
    top: 0;
    background: white;
    box-shadow: 1px 1px 5px black;
    padding: 3px;

    h1 {
        font-size: 20px;
        color: black;
        margin: 0;
        padding: 7px;
    }
}
/*=========================Scrollbars=========================
==============================================================*/
::-webkit-scrollbar {
    width: 3px;
  }
  
  ::-webkit-scrollbar-track {
    background: #777; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: orange; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #FCD12A; 
  }
  
/*==========Media Queries for Smaller Screens===============
==============================================================*/
@media only screen and (max-width: 840px) {
    div#cont {
        font-family: "Montserrat", sans-serif;
        background: url("https://images.unsplash.com/photo-1532768907235-78653b7dc71d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80") no-repeat;
        background-size: cover;
        background-position: left top;

        background-size: auto;
        position: relative;
    }
    div#create-recipe, div#edit-recipe {

        label, input, textarea {
            width: 90%;
        }
        
        .create-edit-box {
            width: 80%;
        }
    }
    header {
        position: absolute;
    }
    div#grid-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    section {
        width: 90%;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        
        div.showcase {
            grid-template-areas:
            "header header"
            ". prep"
            "ing-header ing"
            "dir-header dir"
            ". buttons";
            font-size: 16px;

            #showcase-ingredients,
            #showcase-directions {
                font-size: 15px;
                margin: 0px;
                margin-bottom: 10px;
                margin-left: 5px;
            }

            h3 {
                font-size: 14px;
            }

            #header-ing, #header-dir {
                font-size: 36px;
            }
        }
    }
  
}

